{% extends 'dashboard/index.html.twig' %}

{% block title %}{{parent() }} - Warehouse{% endblock %}

{% block dashboardBody %}

    <h1>Warehouse index</h1>

    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>User</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for warehouse in warehouses %}
            <tr>
                <td>{{ warehouse.id }}</td>
                <td>{{ warehouse.name }}</td>
                <td>{{ warehouse.user }}</td>
                <td>
                    <a class="btn btn-sm btn-info" href="{{ path('app_warehouse_show', {'id': warehouse.id}) }}">show</a>
                    <a class="btn btn-sm btn-info" href="{{ path('app_warehouse_edit', {'id': warehouse.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_warehouse_new') }}">Create new warehouse</a>
    
{% endblock %}
