{% extends 'dashboard/index.html.twig' %}

{% block title %}{{parent() }} - Warehouse{% endblock %}

{% block dashboardBody %}

    <h1><span class="text-muted">Warehouse:</span> {{ warehouse.name }}</h1>

    <table class="table table-sm">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ warehouse.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ warehouse.name }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ warehouse.user }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('app_warehouse_index') }}">back to list</a>

    <a class="btn btn-info" href="{{ path('app_warehouse_edit', {'id': warehouse.id}) }}">edit</a>

    {{ include('warehouse/_delete_form.html.twig') }}
    
{% endblock %}
