<div class="card mt-4">
	<div class="card-header">
		<h5 class="card-title mb-0">Article in stock: index</h5>
	</div>
	<div class="card-body">
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th>Id</th>
					<th>Amount</th>
					<th>Remaining amount</th>
					<th>File</th>
					<th>Operation type</th>
					<th>Created at</th>
					<th>Created by</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for article_in_stock in article_in_stocks %}
					<tr>
						<td>{{ article_in_stock.id }}</td>
						<td>{{ article_in_stock.amount }}</td>
						<td>{{ article_in_stock.remainingAmount }}</td>
						<td><a href="{{ path('app_home') }}{{ article_in_stock.file }}">{{ article_in_stock.file }}</a></td>
						<td>{{ article_in_stock.operationType }}</td>
						<td>{{ article_in_stock.createdAt ? article_in_stock.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ article_in_stock.createdBy }}</td>
						<td>
							<a class="btn btn-sm btn-info" href="{{ path('app_article_in_stock_show', {'id': article_in_stock.id, 'article' : article.id}) }}">show</a>
							<a class="btn btn-sm btn-warning" href="{{ path('app_article_in_stock_edit', {'id': article_in_stock.id, 'article' : article.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="8">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
