<nav class="navbar navbar-expand-lg bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link {% if app.request.get('_route') == 'app_home' %}active{% endif %}" href='{{ path('app_home') }}'>Start</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_dashboard' %}active{% endif %}" href='{{ path('app_dashboard') }}'>Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_logout' %}active{% endif %}" href='{{ path('app_logout') }}'>Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_login' %}active{% endif %}" href='{{ path('app_login') }}'>Login</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_register' %}active{% endif %}" href='{{ path('app_register') }}'>Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>