{% extends 'dashboard/index.html.twig' %}

{% block title %}{{ parent() }} - Article{% endblock %}

{% block dashboardBody %}

    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ article.name }}</td>
            </tr>
            <tr>
                <th>AmountInStock</th>
                <td>{{ article.amountInStock }}</td>
            </tr>
            <tr>
                <th>Vat</th>
                <td>{{ article.vat }}</td>
            </tr>
            <tr>
                <th>UnitPrice</th>
                <td>{{ article.unitPrice }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ article.file }}</td>
            </tr>
            <tr>
                <th>UnitMeasurment</th>
                <td>{{ article.unitMeasurment }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('app_article_index') }}">Back to list</a>
    <a class="btn btn-success" href="{{ path('app_article_in_stock_new', {'articleId': 1}) }}">Add Article to ArticleInStock</a>
    
    {% if is_granted('ROLE_ADMIN') %}
    
        <a class="btn btn-info" href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>

        {{ include('article/_delete_form.html.twig') }}
    
    {% endif %}

    <div class="card mt-4">
        <div class="card-header">
            <h5 class="card-title">Article in stock: index</h5>
        </div>
        <div class="card-body">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Amount</th>
                        <th>Remaining_amount</th>
                        <th>File</th>
                        <th>Article_operation_type</th>
                        <th>Created_at</th>
                        <th>Created_by</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for article_in_stock in article_in_stocks %}
                    <tr>
                        <td>{{ article_in_stock.id }}</td>
                        <td>{{ article_in_stock.amount }}</td>
                        <td>{{ article_in_stock.remainingAmount }}</td>
                        <td>{{ article_in_stock.file }}</td>
                        <td>{{ article_in_stock.articleOperationType }}</td>
                        <td>{{ article_in_stock.createdAt ? article_in_stock.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ article_in_stock.createdBy }}</td>
                        <td>
                            <a class="btn btn-sm btn-light" href="{{ path('app_article_in_stock_show', {'id': article_in_stock.id, 'articleId' : article.id}) }}">show</a>
                            <a class="btn btn-sm btn-light" href="{{ path('app_article_in_stock_edit', {'id': article_in_stock.id, 'articleId' : article.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock %}
