{% extends 'dashboard/index.html.twig' %}

{% block title %}{{ parent() }} - Article{% endblock %}

{% block dashboardBody %}

    {{ component('showArticle', {article: article }) }}

    <a class="btn btn-info" href="{{ path('app_article_index') }}">Back to list</a>
    <a class="btn btn-success" href="{{ path('app_article_in_stock_new', {'article': article.id}) }}">Add Article to ArticleInStock</a>
    
    {% if is_granted('ROLE_ADMIN') %}
    
        <a class="btn btn-info" href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>

        {{ include('article/_delete_form.html.twig') }}
    
    {% endif %}

    {{ component('articleInStockIndex', { article_in_stocks: article_in_stocks, article: article }) }}
    
{% endblock %}
